SDSalesOrders/I-001_PRD_Inbound_Response_from_S4HANA/src/main/resources/xsd/Delivery_856.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="order_item_id" type="xs:string" />
                    <xs:element name="qty" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="notify" type="xs:string" />
        <xs:element name="appendComment" type="xs:string" />
        <xs:element name="comment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="extension_attributes" />
              <xs:element name="comment" type="xs:string" />
              <xs:element name="is_visible_on_front" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tracks">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1"  name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="track_number" type="xs:string" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="carrier_code" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
