SDSalesOrders/I-001_QAS104_Get_China_Documents_from_Magento/src/main/resources/xsd/Magento_URL.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:unsignedByte" />
        <xs:element name="waybill_id" type="xs:unsignedLong" />
        <xs:element name="order_id" type="xs:unsignedShort" />
        <xs:element name="print_url" type="xs:string" />
        <xs:element name="invoice_url" type="xs:string" />
        <xs:element name="tracking_url" type="xs:unsignedByte" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="created_at" type="xs:string" />
        <xs:element name="updated_at" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>