SDSalesOrders/I-001_QAS_Get_China_Documents_from_Magento/src/main/resources/xsd/PreSchemaResponseToS4HANA_URL.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="I_BSTKD" type="xs:unsignedShort" />
        <xs:element name="I_PRINT_URL" type="xs:string" />
        <xs:element name="I_INVOICE_URL" type="xs:string" />
        <xs:element name="I_FUNCTION" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>