I016.1ProfessionalPatientLegacyWebsite/I-016.1_LegacyProPatient_to_S4HANA_SalesOrders/src/main/resources/xsd/Upsert_BP_Legacy.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BP_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BP_NUMBER" type="xs:string" minOccurs="0"/>
        <xs:element name="BP_EXTERNAL_ID" type="xs:string" />
        <xs:element name="UNDER_DOCTOR" type="xs:string" minOccurs="0"/>
        <xs:element name="CUSTOMER_TYPE" type="xs:string" />
        <xs:element name="BPNAME" type="xs:string" />
        <xs:element name="STREET" type="xs:string" />
        <xs:element name="HOUSE_NO" type="xs:string" minOccurs="0"/>
        <xs:element name="CITYNAME" type="xs:string" minOccurs="0"/>
        <xs:element name="REGION" type="xs:string" minOccurs="0"/>
        <xs:element name="POSTALCODE" type="xs:string" minOccurs="0"/>
        <xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
        <xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
        <xs:element name="PHONE" type="xs:string" minOccurs="0"/>
        <xs:element name="FAX" type="xs:string" minOccurs="0"/>
        <xs:element name="MOBILE" type="xs:string" minOccurs="0"/>
        <xs:element name="SHIPP_COND" minOccurs="0"/>
        <xs:element name="PRICING_PROC" type="xs:string" minOccurs="0"/>
        <xs:element name="STORE_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="SALES_GRP" type="xs:string" minOccurs="0"/>
        <xs:element name="PRAC_TYPE_NPD" type="xs:string" minOccurs="0"/>
        <xs:element name="SALES_REP" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>