SDSalesOrders/I-001_Magento_Create_SalesOrders/src/main/resources/xsd/Order_Ind_from_Magento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="items">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="base_currency_code" type="xs:string" />
                <xs:element name="base_discount_amount" type="xs:string" />
                <xs:element name="base_discount_invoiced" type="xs:string" />
                <xs:element name="base_grand_total" type="xs:string" />
                <xs:element name="base_discount_tax_compensation_amount" type="xs:string" />
                <xs:element name="base_discount_tax_compensation_invoiced" type="xs:string" />
                <xs:element name="base_shipping_amount" type="xs:string" />
                <xs:element name="base_shipping_discount_amount" type="xs:string" />
                <xs:element name="base_shipping_discount_tax_compensation_amnt" type="xs:string" />
                <xs:element name="base_shipping_incl_tax" type="xs:string" />
                <xs:element name="base_shipping_invoiced" type="xs:string" />
                <xs:element name="base_shipping_tax_amount" type="xs:string" />
                <xs:element name="base_subtotal" type="xs:string" />
                <xs:element name="base_subtotal_incl_tax" type="xs:string" />
                <xs:element name="base_subtotal_invoiced" type="xs:string" />
                <xs:element name="base_tax_amount" type="xs:string" />
                <xs:element name="base_tax_invoiced" type="xs:string" />
                <xs:element name="base_total_due" type="xs:string" />
                <xs:element name="base_total_invoiced" type="xs:string" />
                <xs:element name="base_total_invoiced_cost" type="xs:string" />
                <xs:element name="base_total_paid" type="xs:string" />
                <xs:element name="base_to_global_rate" type="xs:string" />
                <xs:element name="base_to_order_rate" type="xs:string" />
                <xs:element name="billing_address_id" type="xs:string" />
                <xs:element name="coupon_code" type="xs:string" />
                <xs:element name="created_at" type="xs:string" />
                <xs:element name="customer_email" type="xs:string" />
                <xs:element name="customer_firstname" type="xs:string" />
                <xs:element name="customer_group_id" type="xs:string" />
                <xs:element name="customer_id" type="xs:string"  minOccurs="0"/>
                <xs:element name="customer_is_guest" type="xs:string" />
                <xs:element name="customer_lastname" type="xs:string" />
                <xs:element name="customer_note_notify" type="xs:string" />
                <xs:element name="discount_amount" type="xs:string" />
                <xs:element name="discount_invoiced" type="xs:string" />
                <xs:element name="entity_id" type="xs:string" />
                <xs:element name="global_currency_code" type="xs:string" />
                <xs:element name="grand_total" type="xs:string" />
                <xs:element name="discount_tax_compensation_amount" type="xs:string" />
                <xs:element name="discount_tax_compensation_invoiced" type="xs:string" />
                <xs:element name="increment_id" type="xs:string" />
                <xs:element name="is_virtual" type="xs:string" />
                <xs:element name="order_currency_code" type="xs:string" />
                <xs:element name="protect_code" type="xs:string" />
                <xs:element name="quote_id" type="xs:string" />
                <xs:element name="remote_ip" type="xs:string" />
                <xs:element name="shipping_amount" type="xs:string" />
                <xs:element name="shipping_description" type="xs:string" />
                <xs:element name="shipping_discount_amount" type="xs:string" />
                <xs:element name="shipping_discount_tax_compensation_amount" type="xs:string" />
                <xs:element name="shipping_incl_tax" type="xs:string" />
                <xs:element name="shipping_invoiced" type="xs:string" />
                <xs:element name="shipping_tax_amount" type="xs:string" />
                <xs:element name="state" type="xs:string" />
                <xs:element name="status" type="xs:string" />
                <xs:element name="store_currency_code" type="xs:string" />
                <xs:element name="store_id" type="xs:string" />
                <xs:element name="store_name" type="xs:string" />
                <xs:element name="store_to_base_rate" type="xs:string" />
                <xs:element name="store_to_order_rate" type="xs:string" />
                <xs:element name="subtotal" type="xs:string" />
                <xs:element name="subtotal_incl_tax" type="xs:string" />
                <xs:element name="subtotal_invoiced" type="xs:string" />
                <xs:element name="tax_amount" type="xs:string" />
                <xs:element name="tax_invoiced" type="xs:string" />
                <xs:element name="total_due" type="xs:string" />
                <xs:element name="total_invoiced" type="xs:string" />
                <xs:element name="total_item_count" type="xs:string" />
                <xs:element name="total_paid" type="xs:string" />
                <xs:element name="total_qty_ordered" type="xs:string" />
                <xs:element name="updated_at" type="xs:string" />
                <xs:element name="weight" type="xs:string" />
                <xs:element name="x_forwarded_for" type="xs:string" />
                <xs:element maxOccurs="unbounded" name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="amount_refunded" type="xs:string" />
                            <xs:element name="base_amount_refunded" type="xs:string" />
                            <xs:element name="base_discount_amount" type="xs:string" />
                            <xs:element name="base_discount_invoiced" type="xs:string" />
                            <xs:element name="base_discount_tax_compensation_amount" type="xs:string" />
                            <xs:element name="base_discount_tax_compensation_invoiced" type="xs:string" />
                            <xs:element name="base_original_price" type="xs:string" />
                            <xs:element name="base_price" type="xs:string" />
                            <xs:element name="base_price_incl_tax" type="xs:string" />
                            <xs:element name="base_row_invoiced" type="xs:string" />
                            <xs:element name="base_row_total" type="xs:string" />
                            <xs:element name="base_row_total_incl_tax" type="xs:string" />
                            <xs:element name="base_tax_amount" type="xs:string" />
                            <xs:element name="base_tax_invoiced" type="xs:string" />
                            <xs:element name="created_at" type="xs:string" />
                            <xs:element name="discount_amount" type="xs:string" />
                            <xs:element name="discount_invoiced" type="xs:string" />
                            <xs:element name="discount_percent" type="xs:string" />
                            <xs:element name="free_shipping" type="xs:string" />
                            <xs:element name="discount_tax_compensation_amount" type="xs:string" />
                            <xs:element name="discount_tax_compensation_invoiced" type="xs:string" />
                            <xs:element name="is_qty_decimal" type="xs:string" />
                            <xs:element name="is_virtual" type="xs:string" />
                            <xs:element name="item_id" type="xs:string" />
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="no_discount" type="xs:string" />
                            <xs:element name="order_id" type="xs:string" />
                            <xs:element name="original_price" type="xs:string" />
                            <xs:element name="parent_item_id" type="xs:string" />
                            <xs:element name="price" type="xs:string" />
                            <xs:element name="price_incl_tax" type="xs:string" />
                            <xs:element name="product_id" type="xs:string" />
                            <xs:element name="product_type" type="xs:string" />
                            <xs:element name="qty_canceled" type="xs:string" />
                            <xs:element name="qty_invoiced" type="xs:string" />
                            <xs:element name="qty_ordered" type="xs:string" />
                            <xs:element name="qty_refunded" type="xs:string" />
                            <xs:element name="qty_returned" type="xs:string" />
                            <xs:element name="qty_shipped" type="xs:string" />
                            <xs:element name="quote_item_id" type="xs:string" />
                            <xs:element name="row_invoiced" type="xs:string" />
                            <xs:element name="row_total" type="xs:string" />
                            <xs:element name="row_total_incl_tax" type="xs:string" />
                            <xs:element name="row_weight" type="xs:string" />
                            <xs:element name="sku" type="xs:string" />
                            <xs:element name="store_id" type="xs:string" />
                            <xs:element name="tax_amount" type="xs:string" />
                            <xs:element name="tax_invoiced" type="xs:string" />
                            <xs:element name="tax_percent" type="xs:string" />
                            <xs:element name="updated_at" type="xs:string" />
                            <xs:element name="weee_tax_applied" type="xs:string" />
                            <xs:element name="weight" type="xs:string" />
                            <xs:element name="parent_item">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="amount_refunded" type="xs:string" />
                                        <xs:element name="base_amount_refunded" type="xs:string" />
                                        <xs:element name="base_discount_amount" type="xs:string" />
                                        <xs:element name="base_discount_invoiced" type="xs:string" />
                                        <xs:element name="base_discount_tax_compensation_amount" type="xs:string" />
                                        <xs:element name="base_discount_tax_compensation_invoiced" type="xs:string" />
                                        <xs:element name="base_original_price" type="xs:string" />
                                        <xs:element name="base_price" type="xs:string" />
                                        <xs:element name="base_price_incl_tax" type="xs:string" />
                                        <xs:element name="base_row_invoiced" type="xs:string" />
                                        <xs:element name="base_row_total" type="xs:string" />
                                        <xs:element name="base_row_total_incl_tax" type="xs:string" />
                                        <xs:element name="base_tax_amount" type="xs:string" />
                                        <xs:element name="base_tax_invoiced" type="xs:string" />
                                        <xs:element name="created_at" type="xs:string" />
                                        <xs:element name="discount_amount" type="xs:string" />
                                        <xs:element name="discount_invoiced" type="xs:string" />
                                        <xs:element name="discount_percent" type="xs:string" />
                                        <xs:element name="free_shipping" type="xs:string" />
                                        <xs:element name="discount_tax_compensation_amount" type="xs:string" />
                                        <xs:element name="discount_tax_compensation_invoiced" type="xs:string" />
                                        <xs:element name="is_qty_decimal" type="xs:string" />
                                        <xs:element name="is_virtual" type="xs:string" />
                                        <xs:element name="item_id" type="xs:string" />
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="no_discount" type="xs:string" />
                                        <xs:element name="order_id" type="xs:string" />
                                        <xs:element name="original_price" type="xs:string" />
                                        <xs:element name="price" type="xs:string" />
                                        <xs:element name="price_incl_tax" type="xs:string" />
                                        <xs:element name="product_id" type="xs:string" />
                                        <xs:element name="product_type" type="xs:string" />
                                        <xs:element name="qty_canceled" type="xs:string" />
                                        <xs:element name="qty_invoiced" type="xs:string" />
                                        <xs:element name="qty_ordered" type="xs:string" />
                                        <xs:element name="qty_refunded" type="xs:string" />
                                        <xs:element name="qty_returned" type="xs:string" />
                                        <xs:element name="qty_shipped" type="xs:string" />
                                        <xs:element name="quote_item_id" type="xs:string" />
                                        <xs:element name="row_invoiced" type="xs:string" />
                                        <xs:element name="row_total" type="xs:string" />
                                        <xs:element name="row_total_incl_tax" type="xs:string" />
                                        <xs:element name="row_weight" type="xs:string" />
                                        <xs:element name="sku" type="xs:string" />
                                        <xs:element name="store_id" type="xs:string" />
                                        <xs:element name="tax_amount" type="xs:string" />
                                        <xs:element name="tax_invoiced" type="xs:string" />
                                        <xs:element name="tax_percent" type="xs:string" />
                                        <xs:element name="updated_at" type="xs:string" />
                                        <xs:element name="weee_tax_applied" type="xs:string" />
                                        <xs:element name="weight" type="xs:string" />
                                        <xs:element name="product_option">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="extension_attributes">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="custom_options">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="option_id" type="xs:string" />
                                                                            <xs:element name="option_value" type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" name="configurable_item_options">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="option_id" type="xs:string" />
                                                                            <xs:element name="option_value" type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="product_option">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="extension_attributes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="custom_options">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="option_id" type="xs:string" />
                                                                <xs:element name="option_value" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="unbounded" name="configurable_item_options">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="option_id" type="xs:string" />
                                                                <xs:element name="option_value" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="billing_address">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="address_type" type="xs:string" />
                            <xs:element name="city" type="xs:string" />
                            <xs:element name="country_id" type="xs:string" />
                            <xs:element name="customer_address_id" type="xs:string" />
                            <xs:element name="email" type="xs:string" />
                            <xs:element name="entity_id" type="xs:string" />
                            <xs:element name="firstname" type="xs:string" />
                            <xs:element name="lastname" type="xs:string" />
                            <xs:element name="parent_id" type="xs:string" />
                            <xs:element name="postcode" type="xs:string" />
                            <xs:element name="region" type="xs:string" />
                            <xs:element name="region_code" type="xs:string" />
                            <xs:element name="region_id" type="xs:string" minOccurs="0"/>
                            <xs:element name="street" type="xs:string"  maxOccurs="unbounded"/>
                            <xs:element name="telephone" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="payment">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="account_status" />
                            <xs:element maxOccurs="unbounded" name="additional_information" type="xs:string" />
                            <xs:element name="amount_authorized" type="xs:string" />
                            <xs:element name="amount_ordered" type="xs:string" />
                            <xs:element name="amount_paid" type="xs:string" />
                            <xs:element name="base_amount_authorized" type="xs:string" />
                            <xs:element name="base_amount_ordered" type="xs:string" />
                            <xs:element name="base_amount_paid" type="xs:string" />
                            <xs:element name="base_amount_paid_online" type="xs:string" />
                            <xs:element name="base_shipping_amount" type="xs:string" />
                            <xs:element name="base_shipping_captured" type="xs:string" />
                            <xs:element name="cc_approval" type="xs:string" />
                            <xs:element name="cc_avs_status" type="xs:string" />
                            <xs:element name="cc_cid_status" type="xs:string" />
                            <xs:element name="cc_exp_month" type="xs:string" />
                            <xs:element name="cc_exp_year" type="xs:string" />
                            <xs:element name="cc_last4" type="xs:string" />
                            <xs:element name="cc_status" type="xs:string" />
                            <xs:element name="cc_type" type="xs:string" />
                            <xs:element name="cc_ss_start_month" type="xs:string" />
                            <xs:element name="cc_ss_start_year" type="xs:string" />
                            <xs:element name="entity_id" type="xs:string" />
                            <xs:element name="last_trans_id" type="xs:string" />
                            <xs:element name="method" type="xs:string" />
                            <xs:element name="parent_id" type="xs:string" />
                            <xs:element name="shipping_amount" type="xs:string" />
                            <xs:element name="shipping_captured" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="status_histories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="comment" type="xs:string" />
                            <xs:element name="created_at" type="xs:string" />
                            <xs:element name="entity_id" type="xs:string" />
                            <xs:element name="entity_name" type="xs:string" />
                            <xs:element name="is_customer_notified" type="xs:string" />
                            <xs:element name="is_visible_on_front" type="xs:string" />
                            <xs:element name="parent_id" type="xs:string" />
                            <xs:element name="status" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="extension_attributes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="shipping_assignments">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="shipping">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="address">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="address_type" type="xs:string" />
                                                                <xs:element name="city" type="xs:string" />
                                                                <xs:element name="country_id" type="xs:string" />
                                                                <xs:element name="customer_address_id" type="xs:string" />
                                                                <xs:element name="email" type="xs:string" />
                                                                <xs:element name="entity_id" type="xs:string" />
                                                                <xs:element name="firstname" type="xs:string" />
                                                                <xs:element name="lastname" type="xs:string" />
                                                                <xs:element name="parent_id" type="xs:string" />
                                                                <xs:element name="postcode" type="xs:string" />
                                                                <xs:element name="region" type="xs:string" />
                                                                <xs:element name="region_code" type="xs:string" />
                                                                <xs:element name="region_id" type="xs:string" />
                                                                <xs:element name="street" type="xs:string" maxOccurs="unbounded" />
                                                                <xs:element name="telephone" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="method" type="xs:string" />
                                                    <xs:element name="total">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="base_shipping_amount" type="xs:string" />
                                                                <xs:element name="base_shipping_discount_amount" type="xs:string" />
                                                                <xs:element name="base_shipping_discount_tax_compensation_amnt" type="xs:string" />
                                                                <xs:element name="base_shipping_incl_tax" type="xs:string" />
                                                                <xs:element name="base_shipping_invoiced" type="xs:string" />
                                                                <xs:element name="base_shipping_tax_amount" type="xs:string" />
                                                                <xs:element name="shipping_amount" type="xs:string" />
                                                                <xs:element name="shipping_discount_amount" type="xs:string" />
                                                                <xs:element name="shipping_discount_tax_compensation_amount" type="xs:string" />
                                                                <xs:element name="shipping_incl_tax" type="xs:string" />
                                                                <xs:element name="shipping_invoiced" type="xs:string" />
                                                                <xs:element name="shipping_tax_amount" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" name="items">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:choice maxOccurs="unbounded">
                                                        <xs:element name="amount_refunded" type="xs:string" />
                                                        <xs:element name="base_amount_refunded" type="xs:string" />
                                                        <xs:element name="base_discount_amount" type="xs:string" />
                                                        <xs:element name="base_discount_invoiced" type="xs:string" />
                                                        <xs:element name="base_discount_tax_compensation_amount" type="xs:string" />
                                                        <xs:element name="base_discount_tax_compensation_invoiced" type="xs:string" />
                                                        <xs:element name="base_original_price" type="xs:string" />
                                                        <xs:element name="base_price" type="xs:string" />
                                                        <xs:element name="base_price_incl_tax" type="xs:string" />
                                                        <xs:element name="base_row_invoiced" type="xs:string" />
                                                        <xs:element name="base_row_total" type="xs:string" />
                                                        <xs:element name="base_row_total_incl_tax" type="xs:string" />
                                                        <xs:element name="base_tax_amount" type="xs:string" />
                                                        <xs:element name="base_tax_invoiced" type="xs:string" />
                                                        <xs:element name="created_at" type="xs:string" />
                                                        <xs:element name="discount_amount" type="xs:string" />
                                                        <xs:element name="discount_invoiced" type="xs:string" />
                                                        <xs:element name="discount_percent" type="xs:string" />
                                                        <xs:element name="free_shipping" type="xs:string" />
                                                        <xs:element name="discount_tax_compensation_amount" type="xs:string" />
                                                        <xs:element name="discount_tax_compensation_invoiced" type="xs:string" />
                                                        <xs:element name="is_qty_decimal" type="xs:string" />
                                                        <xs:element name="is_virtual" type="xs:string" />
                                                        <xs:element name="item_id" type="xs:string" />
                                                        <xs:element name="name" type="xs:string" />
                                                        <xs:element name="no_discount" type="xs:string" />
                                                        <xs:element name="order_id" type="xs:string" />
                                                        <xs:element name="original_price" type="xs:string" />
                                                        <xs:element name="parent_item_id" type="xs:string" />
                                                        <xs:element name="price" type="xs:string" />
                                                        <xs:element name="price_incl_tax" type="xs:string" />
                                                        <xs:element name="product_id" type="xs:string" />
                                                        <xs:element name="product_type" type="xs:string" />
                                                        <xs:element name="qty_canceled" type="xs:string" />
                                                        <xs:element name="qty_invoiced" type="xs:string" />
                                                        <xs:element name="qty_ordered" type="xs:string" />
                                                        <xs:element name="qty_refunded" type="xs:string" />
                                                        <xs:element name="qty_returned" type="xs:string" />
                                                        <xs:element name="qty_shipped" type="xs:string" />
                                                        <xs:element name="quote_item_id" type="xs:string" />
                                                        <xs:element name="row_invoiced" type="xs:string" />
                                                        <xs:element name="row_total" type="xs:string" />
                                                        <xs:element name="row_total_incl_tax" type="xs:string" />
                                                        <xs:element name="row_weight" type="xs:string" />
                                                        <xs:element name="sku" type="xs:string" />
                                                        <xs:element name="store_id" type="xs:string" />
                                                        <xs:element name="tax_amount" type="xs:string" />
                                                        <xs:element name="tax_invoiced" type="xs:string" />
                                                        <xs:element name="tax_percent" type="xs:string" />
                                                        <xs:element name="updated_at" type="xs:string" />
                                                        <xs:element name="weee_tax_applied" type="xs:string" />
                                                        <xs:element name="weight" type="xs:string" />
                                                        <xs:element name="parent_item">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="amount_refunded" type="xs:string" />
                                                                    <xs:element name="base_amount_refunded" type="xs:string" />
                                                                    <xs:element name="base_discount_amount" type="xs:string" />
                                                                    <xs:element name="base_discount_invoiced" type="xs:string" />
                                                                    <xs:element name="base_discount_tax_compensation_amount" type="xs:string" />
                                                                    <xs:element name="base_discount_tax_compensation_invoiced" type="xs:string" />
                                                                    <xs:element name="base_original_price" type="xs:string" />
                                                                    <xs:element name="base_price" type="xs:string" />
                                                                    <xs:element name="base_price_incl_tax" type="xs:string" />
                                                                    <xs:element name="base_row_invoiced" type="xs:string" />
                                                                    <xs:element name="base_row_total" type="xs:string" />
                                                                    <xs:element name="base_row_total_incl_tax" type="xs:string" />
                                                                    <xs:element name="base_tax_amount" type="xs:string" />
                                                                    <xs:element name="base_tax_invoiced" type="xs:string" />
                                                                    <xs:element name="created_at" type="xs:string" />
                                                                    <xs:element name="discount_amount" type="xs:string" />
                                                                    <xs:element name="discount_invoiced" type="xs:string" />
                                                                    <xs:element name="discount_percent" type="xs:string" />
                                                                    <xs:element name="free_shipping" type="xs:string" />
                                                                    <xs:element name="discount_tax_compensation_amount" type="xs:string" />
                                                                    <xs:element name="discount_tax_compensation_invoiced" type="xs:string" />
                                                                    <xs:element name="is_qty_decimal" type="xs:string" />
                                                                    <xs:element name="is_virtual" type="xs:string" />
                                                                    <xs:element name="item_id" type="xs:string" />
                                                                    <xs:element name="name" type="xs:string" />
                                                                    <xs:element name="no_discount" type="xs:string" />
                                                                    <xs:element name="order_id" type="xs:string" />
                                                                    <xs:element name="original_price" type="xs:string" />
                                                                    <xs:element name="price" type="xs:string" />
                                                                    <xs:element name="price_incl_tax" type="xs:string" />
                                                                    <xs:element name="product_id" type="xs:string" />
                                                                    <xs:element name="product_type" type="xs:string" />
                                                                    <xs:element name="qty_canceled" type="xs:string" />
                                                                    <xs:element name="qty_invoiced" type="xs:string" />
                                                                    <xs:element name="qty_ordered" type="xs:string" />
                                                                    <xs:element name="qty_refunded" type="xs:string" />
                                                                    <xs:element name="qty_returned" type="xs:string" />
                                                                    <xs:element name="qty_shipped" type="xs:string" />
                                                                    <xs:element name="quote_item_id" type="xs:string" />
                                                                    <xs:element name="row_invoiced" type="xs:string" />
                                                                    <xs:element name="row_total" type="xs:string" />
                                                                    <xs:element name="row_total_incl_tax" type="xs:string" />
                                                                    <xs:element name="row_weight" type="xs:string" />
                                                                    <xs:element name="sku" type="xs:string" />
                                                                    <xs:element name="store_id" type="xs:string" />
                                                                    <xs:element name="tax_amount" type="xs:string" />
                                                                    <xs:element name="tax_invoiced" type="xs:string" />
                                                                    <xs:element name="tax_percent" type="xs:string" />
                                                                    <xs:element name="updated_at" type="xs:string" />
                                                                    <xs:element name="weee_tax_applied" type="xs:string" />
                                                                    <xs:element name="weight" type="xs:string" />
                                                                    <xs:element name="product_option">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="extension_attributes">
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="custom_options">
                                                                                                <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                        <xs:element name="option_id" type="xs:string" />
                                                                                                        <xs:element name="option_value" type="xs:string" />
                                                                                                    </xs:sequence>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                            <xs:element maxOccurs="unbounded" name="configurable_item_options">
                                                                                                <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                        <xs:element name="option_id" type="xs:string" />
                                                                                                        <xs:element name="option_value" type="xs:string" />
                                                                                                    </xs:sequence>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="product_option">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="extension_attributes">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="custom_options">
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="option_id" type="xs:string" />
                                                                                            <xs:element name="option_value" type="xs:string" />
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element maxOccurs="unbounded" name="configurable_item_options">
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="option_id" type="xs:string" />
                                                                                            <xs:element name="option_value" type="xs:string" />
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:choice>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="payment_additional_info">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="key" type="xs:string" />
                                        <xs:element name="value" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="applied_taxes" />
                            <xs:element name="item_applied_taxes" />
                            <xs:element name="gift_cards" />
                            <xs:element name="base_gift_cards_amount" type="xs:string" />
                            <xs:element name="gift_cards_amount" type="xs:string" />
                            <xs:element name="gw_base_price" type="xs:string" />
                            <xs:element name="gw_price" type="xs:string" />
                            <xs:element name="gw_items_base_price" type="xs:string" />
                            <xs:element name="gw_items_price" type="xs:string" />
                            <xs:element name="gw_card_base_price" type="xs:string" />
                            <xs:element name="gw_card_price" type="xs:string" />
                            <xs:element name="order_type" type="xs:string"/>
                            <xs:element name="erp_order_number" type="xs:string" />
                            <xs:element name="erp_customer_number" type="xs:string" />
                            <xs:element name="professional_sap_id" type="xs:string"/>
                            <xs:element name="professional_stripe_id" type="xs:string"/>
                            <xs:element name="patient_order_amount" type="xs:string"/>
                            <xs:element name="patient_order_tax" type="xs:string"/>
                            <xs:element name="patient_order_freight" type="xs:string"/>
                            <xs:element name="patient_order_items_sku" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="patient_order_items_price_usd" type="xs:string"  minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="patient_order_items_customer_price_usd" type="xs:string"  minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="reward_point_used" type="xs:string" />
                            <xs:element name="reward_point_earned" type="xs:string" />
                            <xs:element name="china_order_amount_usd" type="xs:string" />
                            <xs:element name="china_order_tax_usd" type="xs:string" />
                            <xs:element name="china_order_freight_usd" type="xs:string" />
                            <xs:element name="china_order_items_sku" type="xs:string"  minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="china_order_items_price_usd" type="xs:string" minOccurs="0"  maxOccurs="unbounded" />
                            <xs:element name="china_order_items_customer_price_usd" type="xs:string" minOccurs="0"  maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>