I016Stripe/I-016_PRD_Stripe_to_SAP_DPA/src/main/resources/xsd/Stripe_Inbound.XSD

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="numeric">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cards">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="numeric">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:string" />
                          <xs:element name="fingerprint" type="xs:string" />
                          <xs:element name="last4" type="xs:unsignedShort" />
                          <xs:element name="exp_month" type="xs:unsignedByte" />
                          <xs:element name="exp_year" type="xs:unsignedShort" />
                          <xs:element name="brand" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="id" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>