I016Stripe/I-016_Stripe_to_SAP_DPA_copy/src/main/resources/xsd/DPA_Lines_Excel.XSD

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LINES" >
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ZACST_DPA_LINE">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="C1"/>
              <xs:element type="xs:string" name="C2" minOccurs="0"/>
              <xs:element type="xs:string" name="C3"/>
              <xs:element type="xs:string" name="C4"/>
              <xs:element type="xs:string" name="C5"/>
              <xs:element type="xs:string" name="C6"  minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>