I003EastWarehouse3PL/I-003_S4HANA_940_to_3PL_QA/src/main/resources/xsd/Current-EDI-CustomSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DELVRY01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SEGMENT-DOCUMENT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="HEADER-DOCUMENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Line1" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position6" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position7" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position8" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position9" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position10" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position11" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position12" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position13" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position14" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position15" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position16" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position17" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Line2" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position6" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position7" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position8" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position9" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DOCUMENTS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="DOCUMENT">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Line3" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Line4" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                                <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Line5-8-E1ADRM1" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Line5" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line6" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line7" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line8" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position6" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position7" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Line9-12-E1ADRM2" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Line9" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line10" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line11" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line12" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Line13-16-E1ADRM3" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Line13" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line14" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line15" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line16" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Line17-18" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Line17" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line18" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Line19-22" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Line19" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line20" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line21" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line22" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Line23-25" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Line23" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line24" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line25" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Line26-28" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Line26" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line27" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Line28" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Lx-Loop" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Line29-End">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Line29" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Line30" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position4" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position5" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position6" type="xs:string" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Line31" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Line32" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Line33" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Line34" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Line35" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                       <xs:element name="Line36" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="End" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                                <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                                <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FOOTER-DOCUMENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="GE" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IEA" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Position1" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position2" type="xs:string" minOccurs="0"/>
                          <xs:element name="Position3" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>