SDSalesOrders/I-001_Update_Inventory_on_Magento/src/main/resources/xsd/MagentoProducts.XSD

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedShort" />
              <xs:element name="sku" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="attribute_set_id" type="xs:unsignedByte" />
              <xs:element name="price" type="xs:decimal" />
              <xs:element name="status" type="xs:unsignedByte" />
              <xs:element name="visibility" type="xs:unsignedByte" />
              <xs:element name="type_id" type="xs:string" />
              <xs:element name="created_at" type="xs:string" />
              <xs:element name="updated_at" type="xs:string" />
              <xs:element name="weight" type="xs:unsignedByte" />
              <xs:element name="extension_attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="website_ids" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="category_links">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="position" type="xs:unsignedByte" />
                          <xs:element name="category_id" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="product_links" />
              <xs:element name="options" />
              <xs:element name="media_gallery_entries" />
              <xs:element name="tier_prices">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="customer_group_id" type="xs:unsignedByte" />
                    <xs:element name="qty" type="xs:unsignedByte" />
                    <xs:element name="value" type="xs:decimal" />
                    <xs:element name="extension_attributes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="website_id" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="custom_attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attribute_code" type="xs:string" />
                    <xs:element name="value" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>