SDSalesOrders/I-001_Update_Inventory_on_Magento/src/main/resources/xsd/PreS4_Inventory.XSD

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="I_MATNR_T">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ZACST_MATNR">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATNR" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>