I003EastWarehouse3PL/I-003_PRD_S4HANA_940_to_3PL/src/main/resources/xsd/SchemaRFCAditionalFields.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="I_DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ZACTA_ADITIONALFIELDS945">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="WERKS" type="xs:string" />
              <xs:element name="MATNR" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>