I003EastWarehouse3PL/I-003_QAS_S4HANA_940_to_3PL_bk_beforecopyPRD/src/main/resources/xsd/CustomSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DOCNUM" type="xs:string" />
        <xs:element minOccurs="0" name="NTANF" type="xs:string" />
        <xs:element minOccurs="0" name="REFNR" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="E1EDL24">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="POSNR" type="xs:string" />
              <xs:element minOccurs="0" name="LFIMG" type="xs:string" />
              <xs:element minOccurs="0" name="LGMNG" type="xs:string" />
              <xs:element minOccurs="0" name="MATNR" type="xs:string" />
              <xs:element minOccurs="0" name="CHARG" type="xs:string" />
              <xs:element minOccurs="0" name="EXTVBELN" type="xs:string" />              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       <xs:element minOccurs="0" name="FOOTER" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>