I003EastWarehouse3PL/I-003_QAS_S4HANA_940_to_3PL_bk_beforecopyPRD/src/main/resources/xsd/EDI-Schema-Final-Cliclo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EDI-940">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HEADER" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Line1" type="xs:string" minOccurs="0"/>
              <xs:element name="Line2" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="DOCUMENT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Line3" type="xs:string" minOccurs="0"/>
              <xs:element name="Line4" type="xs:string" minOccurs="0"/>
              <xs:element name="Line5" type="xs:string" minOccurs="0"/>
              <xs:element name="Line6" type="xs:string" minOccurs="0"/>
              <xs:element name="Line7" type="xs:string" minOccurs="0"/>
              <xs:element name="Line8" type="xs:string" minOccurs="0"/>
              <xs:element name="Line9" type="xs:string" minOccurs="0"/>
              <xs:element name="Line10" type="xs:string" minOccurs="0"/>
              <xs:element name="Line11" type="xs:string" minOccurs="0"/>
              <xs:element name="Line12" type="xs:string" minOccurs="0"/>
              <xs:element name="Line13" type="xs:string" minOccurs="0"/>
              <xs:element name="Line14" type="xs:string" minOccurs="0"/>
              <xs:element name="Line15" type="xs:string" minOccurs="0"/>
              <xs:element name="Line16" type="xs:string" minOccurs="0"/>
              <xs:element name="Line17" type="xs:string" minOccurs="0"/>
              <xs:element name="Line18" type="xs:string" minOccurs="0"/>
              <xs:element name="Line19" type="xs:string" minOccurs="0"/>
              <xs:element name="Line20" type="xs:string" minOccurs="0"/>
              <xs:element name="Line21" type="xs:string" minOccurs="0"/>
              <xs:element name="Line22" type="xs:string" minOccurs="0"/>
              <xs:element name="Line23" type="xs:string" minOccurs="0"/>
              <xs:element name="Line24" type="xs:string" minOccurs="0"/>
              <xs:element name="Line25" type="xs:string" minOccurs="0"/>
              <xs:element name="Line26" type="xs:string" minOccurs="0"/>
              <xs:element name="Line27" type="xs:string" minOccurs="0"/>
              <xs:element name="Line28" type="xs:string" minOccurs="0"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="Loop">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Line29" type="xs:string" minOccurs="0"/>
                    <xs:element name="Line30" type="xs:string" minOccurs="0"/>
                    <xs:element name="Line31" type="xs:string" minOccurs="0"/>
                    <xs:element name="Line32" type="xs:string" minOccurs="0"/>
                    <xs:element name="Line33" type="xs:string" minOccurs="0"/>
                    <xs:element name="Line34" type="xs:string" minOccurs="0"/>
                    <xs:element name="Line35" type="xs:string" minOccurs="0"/>
                    <xs:element name="Line36" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="End" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FOOTER" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Footer1" type="xs:string" minOccurs="0"/>
              <xs:element name="Footer2" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>