SDSalesOrders/I-001_PRD_Inbound_Response_from_S4HANA_copy/src/main/resources/xsd/Response2Magento.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="object">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="magento_order_number" minOccurs="0" type="xs:string" />
              <xs:element name="erp_order_number" minOccurs="0" type="xs:string" />
              <xs:element name="erp_customer_number" minOccurs="0" type="xs:string" />
              <xs:element name="erp_contact_number" minOccurs="0" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>