I003EastWarehouse3PL/I-003_QAS_S4HANA_940_to_3PL/src/main/resources/xsd/NewSchemaRootMM945Temp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DELVRY01">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IDOC">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EDI_DC40">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TABNAM" type="xs:string" />
                          <xs:element name="MANDT" type="xs:unsignedByte" />
                          <xs:element name="DOCNUM" type="xs:unsignedInt" />
                          <xs:element name="DOCREL" type="xs:unsignedShort" />
                          <xs:element name="STATUS" type="xs:unsignedByte" />
                          <xs:element name="DIRECT" type="xs:unsignedByte" />
                          <xs:element name="OUTMOD" type="xs:unsignedByte" />
                          <xs:element name="IDOCTYP" type="xs:string" />
                          <xs:element name="MESTYP" type="xs:string" />
                          <xs:element name="SNDPOR" type="xs:string" />
                          <xs:element name="SNDPRT" type="xs:string" />
                          <xs:element name="SNDPRN" type="xs:string" />
                          <xs:element name="RCVPOR" type="xs:string" />
                          <xs:element name="RCVPRT" type="xs:string" />
                          <xs:element name="RCVPRN" type="xs:string" />
                          <xs:element name="CREDAT" type="xs:unsignedInt" />
                          <xs:element name="CRETIM" type="xs:unsignedInt" />
                          <xs:element name="SERIAL" type="xs:unsignedLong" />
                        </xs:sequence>
                        <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1EDL20">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="VBELN" type="xs:unsignedInt" />
                          <xs:element name="VSTEL" type="xs:string" />
                          <xs:element name="VKORG" type="xs:unsignedShort" />
                          <xs:element name="INCO1" type="xs:string" />
                          <xs:element name="INCO2" type="xs:string" />
                          <xs:element name="ROUTE" type="xs:unsignedByte" />
                          <xs:element name="VSBED" type="xs:string" />
                          <xs:element name="BTGEW" type="xs:decimal" />
                          <xs:element name="NTGEW" type="xs:decimal" />
                          <xs:element name="GEWEI" type="xs:string" />
                          <xs:element name="VOLUM" type="xs:decimal" />
                          <xs:element name="ANZPK" type="xs:unsignedByte" />
                          <xs:element name="PODAT" type="xs:unsignedInt" />
                          <xs:element name="POTIM" type="xs:unsignedInt" />
                          <xs:element name="INCO2_L" type="xs:string" />
                          <xs:element name="E1EDL22">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="VSTEL_BEZ" type="xs:string" />
                                <xs:element name="VKORG_BEZ" type="xs:string" />
                                <xs:element name="INCO1_BEZ" type="xs:string" />
                                <xs:element name="ROUTE_BEZ" type="xs:string" />
                                <xs:element name="VSBED_BEZ" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1EDL21">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LFART" type="xs:string" />
                                <xs:element name="LPRIO" type="xs:unsignedByte" />
                                <xs:element name="KDGRP" type="xs:unsignedByte" />
                                <xs:element name="TRAGR" type="xs:unsignedByte" />
                                <xs:element name="E1EDL23">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="LFART_BEZ" type="xs:string" />
                                      <xs:element name="LPRIO_BEZ" type="xs:string" />
                                      <xs:element name="KDGRP_BEZ" type="xs:string" />
                                      <xs:element name="TRAGR_BEZ" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="E1EDL18">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="QUALF" type="xs:string" />
                                <xs:element minOccurs="0" name="PARAM" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="E1ADRM1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PARTNER_Q" type="xs:string" />
                                <xs:element name="PARTNER_ID" type="xs:string" />
                                <xs:element minOccurs="0" name="JURISDIC" type="xs:string" />
                                <xs:element name="LANGUAGE" type="xs:string" />
                                <xs:element name="NAME1" type="xs:string" />
                                <xs:element minOccurs="0" name="NAME2" type="xs:string" />
                                <xs:element name="STREET1" type="xs:string" />
                                <xs:element minOccurs="0" name="HOUSE_SUPL" type="xs:unsignedShort" />
                                <xs:element name="POSTL_COD1" type="xs:string" />
                                <xs:element name="CITY1" type="xs:string" />
                                <xs:element minOccurs="0" name="TELEPHONE1" type="xs:string" />
                                <xs:element minOccurs="0" name="E_MAIL" type="xs:string" />
                                <xs:element name="COUNTRY1" type="xs:string" />
                                <xs:element name="REGION" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="E1EDT13">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="QUALF" type="xs:unsignedByte" />
                                <xs:element name="NTANF" type="xs:unsignedInt" />
                                <xs:element name="NTANZ" type="xs:unsignedByte" />
                                <xs:element name="NTEND" type="xs:unsignedInt" />
                                <xs:element name="NTENZ" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="TZONE_BEG" type="xs:string" />
                                <xs:element name="ISDD" type="xs:unsignedByte" />
                                <xs:element name="ISDZ" type="xs:unsignedByte" />
                                <xs:element name="IEDD" type="xs:unsignedByte" />
                                <xs:element name="IEDZ" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="TZONE_END" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1EDL33">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ALAND" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1EDL28">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ROUTE" type="xs:unsignedByte" />
                                <xs:element name="DISTZ" type="xs:decimal" />
                                <xs:element name="E1EDL29">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ROUTE_BEZ" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="E1EDL24">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="POSNR" type="xs:unsignedByte" />
                                <xs:element name="MATNR" type="xs:string" />
                                <xs:element name="MATWA" type="xs:string" />
                                <xs:element name="ARKTX" type="xs:string" />
                                <xs:element name="MATKL" type="xs:string" />
                                <xs:element name="WERKS" type="xs:string" />
                                <xs:element name="LGORT" type="xs:string" />
                                <xs:element name="LFIMG" type="xs:decimal" />
                                <xs:element name="VRKME" type="xs:string" />
                                <xs:element name="LGMNG" type="xs:decimal" />
                                <xs:element name="MEINS" type="xs:string" />
                                <xs:element name="NTGEW" type="xs:decimal" />
                                <xs:element name="BRGEW" type="xs:decimal" />
                                <xs:element name="GEWEI" type="xs:string" />
                                <xs:element name="VOLUM" type="xs:decimal" />
                                <xs:element name="LADGR" type="xs:unsignedByte" />
                                <xs:element name="TRAGR" type="xs:unsignedByte" />
                                <xs:element name="VKBUR" type="xs:unsignedShort" />
                                <xs:element name="VKGRP" type="xs:unsignedByte" />
                                <xs:element name="VTWEG" type="xs:unsignedByte" />
                                <xs:element name="SPART" type="xs:unsignedByte" />
                                <xs:element name="GRKOR" type="xs:unsignedByte" />
                                <xs:element name="EAN11" type="xs:unsignedLong" />
                                <xs:element name="POSEX" type="xs:unsignedByte" />
                                <xs:element name="VFDAT" type="xs:unsignedByte" />
                                <xs:element name="EXPIRY_DATE_EXT" type="xs:unsignedByte" />
                                <xs:element name="VGBEL" type="xs:unsignedShort" />
                                <xs:element name="VGPOS" type="xs:unsignedByte" />
                                <xs:element name="ORMNG" type="xs:decimal" />
                                <xs:element name="EXPIRY_DATE_EXT_B" type="xs:unsignedByte" />
                                <xs:element name="E1EDL25">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="LGORT_BEZ" type="xs:string" />
                                      <xs:element name="LADGR_BEZ" type="xs:string" />
                                      <xs:element name="TRAGR_BEZ" type="xs:string" />
                                      <xs:element name="VKBUR_BEZ" type="xs:string" />
                                      <xs:element name="VKGRP_BEZ" type="xs:string" />
                                      <xs:element name="VTWEG_BEZ" type="xs:string" />
                                      <xs:element name="SPART_BEZ" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="E1EDL26">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="PSTYV" type="xs:string" />
                                      <xs:element name="MATKL" type="xs:string" />
                                      <xs:element name="UMVKZ" type="xs:unsignedByte" />
                                      <xs:element name="UMVKN" type="xs:unsignedByte" />
                                      <xs:element name="UEBTO" type="xs:decimal" />
                                      <xs:element name="UNTTO" type="xs:decimal" />
                                      <xs:element name="XCHBW" type="xs:unsignedByte" />
                                      <xs:element name="MATNR_LONG" type="xs:string" />
                                      <xs:element name="MATWA_LONG" type="xs:string" />
                                      <xs:element name="E1EDL27">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="PSTYV_BEZ" type="xs:string" />
                                            <xs:element name="MATKL_BEZ" type="xs:string" />
                                            <xs:element name="WERKS_BEZ" type="xs:string" />
                                          </xs:sequence>
                                          <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element maxOccurs="unbounded" name="E1EDL19">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="QUALF" type="xs:string" />
                                      <xs:element name="PARAM" type="xs:decimal" />
                                    </xs:sequence>
                                    <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element maxOccurs="unbounded" name="E1EDL43">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="QUALF" type="xs:string" />
                                      <xs:element name="BELNR" type="xs:unsignedShort" />
                                      <xs:element name="POSNR" type="xs:unsignedByte" />
                                      <xs:element minOccurs="0" name="DATUM" type="xs:unsignedInt" />
                                    </xs:sequence>
                                    <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="E1EDL41">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="QUALI" type="xs:unsignedByte" />
                                      <xs:element name="BSTNR" type="xs:string" />
                                      <xs:element name="BSTDT" type="xs:unsignedByte" />
                                    </xs:sequence>
                                    <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="BEGIN" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Envelope">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ZACFM_ADDITIONALFIELDS940TO945.Response">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="O_DATA">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="item">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MATNR" type="xs:string" />
                                      <xs:element name="CHARG" type="xs:unsignedInt" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InvoiceRangeProp" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>